// 引入vxe-table库的样式文件
@use "vxe-table/styles/index" as vxe;

html[data-vxe-ui-theme="light"] {
  --vxe-ui-font-color: #606266;
  --vxe-primary-color: #00796a;
  --vxe-ui-font-primary-color: #00796a;
  --vxe-loading-color: #00796a;
  --vxe-ui-input-border-color: #00796a;
  --vxe-primary-lighten-color: #639f97;
}
